@import "vars";

.btn {
  background-color: $secondary;
  background-image: linear-gradient(to bottom right, $secondary, $secondary, $primary);
  background-size: 300%;
  background-position: right;
  color: white;
  cursor: pointer;
  padding: .7rem 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: .1rem .2rem .5rem rgba(black, .4);
  transition: background-position 500ms;
  display: block;
  margin: 3rem auto;

  @media (min-width: $tablet) {
    margin: 1.5rem auto;
  }

  &:hover, &:focus {
    background-position: left;
  }
}

.heart {
  font-size: 25px;
  color: $light-grey;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;

  &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom left, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0;
    animation: fade-in 400ms;

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}


