@import "vars";

// Handling loading animation
.loader {
  // Make it disappear underneath main div after animation finishes
  background-color: transparent;
  z-index: -1;
  // Make it higher than view height to make sure there is no extra blank
  height: 110vh;
  width: 100vw;
  display: flex;
  // Centering loader
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: fade-out 3s;

  // Make the background appear first and make it transparent
  @keyframes fade-out {
    0% {
      background-color: $primary;
      // Making sure it's on top
      z-index: 2;
    }
    95% {
      background-color: $primary;
      z-index: 2;
    }
    100% {
      // And returning to predefined z-index value
      background-color: transparent;
    }
  }

  // Spinner
  .spinner {
    animation: rotate 1s ease-in-out infinite;
    color: white;

    @keyframes rotate {
      from {
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(360deg);
      }
    }
  }
}

