// Colours
$black: black;
$dark-green: #008664;
$dark-grey: #6F6F6F;
$darker-grey: #363636;
$green: #99E2D0;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$pink: #FF79DA;
$purple: #9356DC;

$primary: $purple;
$secondary: $pink;
$tertiary: $green;

// Typography
$text-sm: 0.9rem;


//Shadows
$box-shadow: 0 3px 6px -5px black;

//Padding
$padding: 1rem 0;
